html {
  background: url('tile.png');
}

body {
  font-size: medium;
  text-align: center;
  font-family: 'Lora', serif;
  margin-top: 5%;
}

h1 {
  font-size: 300%;	
  margin: 0;
}

h2 {
  color: #666;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 2em;
}

textarea {
  width: 500px;
  height: 200px;
  border: 0px;
  font-size: 125%;
  padding: 1em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

button {
  background-color: #06F;
  color: white;
  font-size: 150%;
  padding: .5em;
  border: 1px solid black;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#result {
  marign: 1em;
  padding: 1em;
  font-size: 200%;
}

#about {
  display: none;
  width: 25em;
  margin: auto;
  font-size: 150%;
}

.valuate {
  color: #050;	
}

.me {
  color: #009;
}

a, a:active, a:visited {
  color: #009;	
}

em {
  font-weight: bold;
  color: #600;
}
